@model IEnumerable<EmpleadoCrudMvcModels.Models.Departamento>

@{
    ViewBag.Title = "Index";
}

<h2>Listados de Departamentos</h2>

<p>
	@Html.ActionLink("Create New", "Create", new { @Style = "margin-botton:10px" }, new { @class = "btn btn-success" })
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.nombre)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.ciudad)
		</th>
		<th>
			Acciones
		</th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.nombre)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ciudad)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.codigo }, new { @class = "btn btn-primary" })
				@Html.ActionLink("Details", "Details", new { id = item.codigo }, new { @class = "btn btn-success" })
				@Html.ActionLink("Delete", "Delete", new { id = item.codigo }, new { @class = "btn btn-danger" })
			</td>
		</tr>
	}

</table>

	
